{% extends "e2e_main.html" %}
{% block title %}E2E. Помесячные отчеты {% endblock %}
{% block head %}Техподразделение{% endblock %}
{% block content %}
    <br>
    <h1> Отчеты: </h1>
    <br>
<table>
    <tr>
        <th>Месяц</th>
		<th>Год</th>
		<th>Количество аварий</th>
		<th>Доступность Услуг</th>
		<th>Доступность услуг в бизнес время</th>
		<th>Доступность услуг не в бизнес время</th>
    </tr>
{%  for id,month_year, month, year, quarter, effect, effect_in_business, effect_not_in_business, quantity in summary.values_list %}
    <tr>
        <td>
         {%  for key, value in dict_month.items %}
            {% if key == month %}
            <div id="back"> <p><a href="/e2e/{{ month_year }}/">{{ value }}</a></p> </div>
            {% endif %}
        {% endfor %}
        </td>
		<td> {{ year }}</td>
		<td>{{ quantity }}</td>
		<td>{{ effect }}</td>
		<td>{{ effect_in_business }}</td>
        <td>{{ effect_not_in_business }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}