{% extends "e2e_main.html" %}
{% block title %}E2E. Создание отчета. {% endblock %}
{% block head %}Техподразделение{% endblock %}
{% block content %}
    <h3>По месячные отчеты:</h3>
    <table>
     <tr>
    <th> &nbsp; </th>
      {%  for year in year_list %}
          <th>{{ year }}</th>
      {% endfor %}
    </tr>

     {%  for list in state_all %}
         <tr>
         {%  for string in list %}
             <td> {{string }}</td>
         {% endfor %}
         </tr>
     {% endfor %}
    </table>
    <h3>Создание отчета:</h3>

    <form action="/e2e/generate_month_report/" method="post">
        {% csrf_token %}
        <select name="year">
            <option disabled> " Выберите год "</option>
             {%  for year in year_list %}
            <option  value="{{ year }}">{{ year }}</option>
            {% endfor %}
         </select>
     <select name="month">
         <option disabled> " Выберите месяц "</option>
         {%  for key, value in dict_month.items %}
             <option  value="{{ key }}"> "{{ value }} " </option>
         {% endfor %}
     </select>
    <input type="submit" value="Создать отчет" />
    </form>
 {% endblock %}