<!DOCTYPE html>
<html>
     <head>
          <title>{% block title %}{% endblock %}</title>
          <meta charset="utf-8">
         {% load staticfiles %}
          <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
     </head>
     <body>
          <div id="header">
	           Винницкая филия <br>
            {% block head %}{% endblock %}

		         <div id = "logo">
                     <img src="http://volia.com/user/img/logo/logo.png" border="0" style="position: absolute; left: 0px; top: 0px;">
                 </div>
                 <div id="userauth">
                     {% if user.is_authenticated %}
                         Вы вошли как {{ user.username }} [{{ user.first_name }} {{ user.last_name }}]. <a href="/accounts/logout/?next=/accounts/login/?next=/main/">Выход</a>
                     {% else %}Вы не вошли в систему. <a href="/accounts/login/?next={{ request.path }}" >Войти</a>
                     {% endif %}
                 </div>
	  </div>
          <div id="menu">
            <div id="nav">Меню</div>
	        <p><a href="/main/">Главная</a></p>
	        <p><a href="/stp/realip/">Фиксированные IP адреса</a></p>
		    <p><a href="/stp/subnet/">Подсети</a></p>
		   </div>
          <div id="content">{% block content %}{% endblock %}</div>
     </body>
</html>