{% extends "stp_main.html" %}
{% block title %}СТП. Фиксированные IP {% endblock %}
{% block head %}Служба технической поддержки{% endblock %}
{% block content %}<h1> Показать используемые фиксированные IP адреса: </h1>
    <p><a href="/stp/realip/all/">Все</a></p>
	<p><a href="/stp/realip/sub-vn-0-1">Sub-vn-0-1</a></p>
    <p><a href="/stp/realip/sub-vn-0-2">Sub-vn-0-2</a></p>
    <p><a href="/stp/realip/sub-vn-0-3">Sub-vn-0-3</a></p>
    <p><a href="/stp/realip/sub-vn-0-4">Sub-vn-0-4</a></p>
    <p><a href="/stp/realip/sub-vn-0-5">Sub-vn-0-5</a></p>
    <p><a href="/stp/realip/sub-vn-1-1">Sub-vn-1-1</a></p>
    <p><a href="/stp/realip/sub-vn-1-2">Sub-vn-1-2</a></p>
    <p><a href="/stp/realip/sub-vn-1-3">Sub-vn-1-3</a></p>
    <p><a href="/stp/realip/sub-vn-1-4">Sub-vn-1-4</a></p>
    <p><a href="/stp/realip/sub-vn-1-5">Sub-vn-1-5</a></p>
    <p><a href="/stp/realip/sub-vn-2-1">Sub-vn-2-1</a></p>
    <p><a href="/stp/realip/sub-vn-2-2">Sub-vn-2-2</a></p>
    <p><a href="/stp/realip/sub-vn-2-3">Sub-vn-2-3</a></p>
    <p><a href="/stp/realip/sub-vn-2-4">Sub-vn-2-4</a></p>


{% endblock %}