{% extends "stp_main_new_1.html" %}
{% block title %}СТП. Главная {% endblock %}
{% block head %}Служба технической поддержки{% endblock %}
{% block content %}<h1> Служба технической поддержки. </h1>
<p> <h3> Колибабчук Петр Павлович.<img src="/static/images/petr.kolibabchyk.JPG" height="100" width="90" border="1" align="right"></h3> Инженер головной станции.<br>Почта: petro.kolibabchuk@volia.com <br>Телефон: +38(050)3841958 </p>
<p> <h3> Дубин Дмитрий Георгиевич.<img src="/static/images/dmitriy_dubin.jpg" height="100" width="90" border="1" align="right"></h3> Инженер транспортной сети. <br>Почта: dmytro.dubin@volia.com <br>Телефон: +38(050)3842023  </p>
<p> <h3> Беляев Александр Николаевич.<img src="/static/images/alexandr_belyaev.jpg" height="100" width="90" border="1" align="right"></h3> Инженер транспортной сети.<br>Почта: oleksandr.bieliaiev@volia.com <br>Телефон: +38(050)3841825 </p>
{% endblock %}
