{% extends "to_main_new_1.html" %}
{% block title %}ТО. Главная {% endblock %}
{% block head %}Техподразделение{% endblock %}
{% block content %}<h1> Технический отдел </h1>
<p> <h3> Литвин Сергей Николаевич.</h3> Мастер участка ТО.<br>Почта: serhii.lytvyn@volia.com <br>Телефон: +38(050)3828741 </p>
<p> <h3> Хитрич Сергей.</h3> Инженер ВОЛС.<br>Почта: serhii.khytrych@volia.com <br>Телефон: +38(050)3828749 </p>
<p> <h3> Бесараб Тарас.</h3> Ведущий инженер СТПИ.<br>Почта: taras.besarab@volia.com <br>Телефон(личный): +38(093)7877574 </p>
<p> <h3> Прокопчук Олег.</h3> Инженер СТПИ.<br>Почта: taras.besarab@volia.com <br>Телефон(личный): +38(093)7877574 </p>
{% endblock %}